#check-filter {
    margin-top: 5px;
    margin-left: 10px;
}

.tb-row {
    padding-right: 2px;
    padding-left: 2px;
}

.table th {
    text-align: center;
    vertical-align: middle !important;
}

#check-container {
    margin-left: 0;
    margin-right: 0;
}